* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* OCULTAR RADIOS */
input {
  display: none;
}

/* NAV */
.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.nav label {
  cursor: pointer;
  font-size: 14px;
}

/* PÁGINAS */
.page {
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

/* MOSTRAR SEGÚN RADIO */
#home:checked ~ .home,
#about:checked ~ .about,
#portfolio:checked ~ .portfolio,
#cv:checked ~ .cv,
#contact:checked ~ .contact {
  display: flex;
}
