* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  overflow: hidden;
  color: #111;
}

/* OCULTAR RADIOS */
input {
  display: none;
}

/* NAV PRINCIPAL */
.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.nav label {
  cursor: pointer;
  font-size: 14px;
}

/* PÁGINAS */
.page {
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* MOSTRAR PÁGINA PRINCIPAL */
#home:checked ~ .home,
#about:checked ~ .about,
#portfolio:checked ~ .portfolio,
#cv:checked ~ .cv,
#contact:checked ~ .contact {
  display: flex;
}

/* ======================
   CURRÍCULUM
====================== */
.cv {
  flex-direction: column;
}

.subnav {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.subnav label {
  cursor: pointer;
  font-size: 13px;
  border-bottom: 1px solid transparent;
}

.cv-page {
  display: none;
}

/* MOSTRAR SUBSECCIONES CV */
#cv-home:checked ~ .cv-home,
#cv-edu:checked ~ .cv-edu,
#cv-exp:checked ~ .cv-exp,
#cv-skill:checked ~ .cv-skill {
  display: block;
}
