/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background: #fff;
  color: #111;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ================= LAYOUT ================= */
main {
  padding-top: 70px;
  flex-grow: 1;
}

section {
  display: none;
}

section.active {
  display: block;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: auto;
}

.spaced {
  padding: 90px 0;
}

/* ================= SECCIONES ================= */

/* Sección Portfolio */
#portfolio {
  padding: 50px 0;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.case {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.case h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.case span {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

.case p {
  font-size: 14px;
  line-height: 1.5;
}

/* Sección Curriculum */
#cv {
  padding: 50px 0;
}

.cv {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

h2 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

ul.list {
  list-style: none;
  margin-bottom: 20px;
}

ul.list li {
  font-size: 14px;
  margin-bottom: 8px;
}

/* Separación entre los títulos */
.cv h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Sección Sobre mí */
#about {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#about-text {
  font-size: 16px;
  line-height: 1.7;
  max-width: 550px;
}

.about-image {
  width: auto;
  max-width: 250px;
  height: auto;
  margin-left: 20px;
  border-radius: 8px;
}

/* Sección Contacto */
#contact {
  padding: 50px 0;
}

#contact-email,
#contact-phone {
  font-size: 16px;
  margin-top: 8px;
  color: #111;
}

footer {
  text-align: center;
  padding: 8px;
  font-size: 12px;
  color: #fff;
  background-color: #000;
}
