/* ==================== Estilos para el apartado SOBRE MÍ ==================== */
#about {
  padding-bottom: 50px;
}

#about-title {
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  color: var(--section-title-color, #333);  /* Color configurable con variable */
  margin-top: 60px; /* Asegura que esté a la misma altura respecto a la barra superior */
  margin-bottom: 20px;
  text-transform: capitalize;
}

#about-text {
  font-size: 15px;
  color: #555;  /* Texto gris en "Sobre Mí" */
  line-height: 1.5;
}

.about-content {
  display: flex;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.about-image {
  max-width: 290px;
  width: auto;
  height: auto;
  animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
